html, body {
    height: 1vh;
    margin: 0; 
    background-color: black;
}

svg {
    width: 500px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.svg-container {
    width: 100%;
    
}

#hackwashu path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Verdana';
}

.bigdiv {
    margin-top: 20%;
    border: 4px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}