:root {
    --bg: #16192B;
    --green: #6DDF90;
    --text: #D9D9D9;
    --white: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-weight: 700;
  overflow: visible;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5em;

}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: 500;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

@media only screen and (max-width: 500px) {
    h1 {
    font-size: 2.5em;
    }
    h2 {
    font-size: 1.5em;
    }
    h3 {
    font-size: 0.7em;
    }
    p {
        font-size: 75%;
    }
}