:root {
    --bg-color: #08003F;
    --orange: rgb(255, 171, 60);
    --blue: #3c5bff;
    --green: #6DDF90;
    --red: #DF4E68;
    --purple: #562EEB;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Regular.woff');
}

h1 {
    font-size: 3em;
    font-family: Mont;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-family: Mont;
    margin: 0;
}

h3 {
    font-size: 1em;
    font-family: Mont;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    h1 {
    font-size: 2.5em;
    }
    h2 {
    font-size: 1.5em;
    }
}